@import "./variables.scss";

* {
    margin: 0
}

body {
    margin: 0;
    padding: 0;
   }

#app {
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $almostwhite;
    box-sizing: border-box;
    height: 100vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
