@import "./variables.scss";

* {
    margin: 0
}

body {
    margin: 0;
    padding: 0;
   }

#app {
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $almostwhite;
    height: 100vh;
}
